<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/4.5.1/pixi.min.js"></script>
    <script src="http://localhost:3000/socket.io/socket.io.js"></script>
</head>
<body>
    <script type="text/javascript" src="script_backgammon_function.js"></script>   
        <script type="text/javascript" src="script_backgammon_game.js"></script>    
        <script type="text/javascript" src="RPS-game.js"></script>   
         <script type = "text/javascript" src="Pure-function.js"></script>
         <script type = "text/javascript" src="DEBUG.js"></script>
</body>
</html>