<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <script src="http://localhost:3000/socket.io/socket.io.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
        <script src="https://cdn.jsdelivr.net/npm/promise-polyfill@8/dist/polyfill.js"></script>
        <script type="text/javascript" src="script_index.js"></script>
        <link rel="stylesheet" href="style_index.css">
    <a href="/backgammon_Loby">
        <div class="games_gallary">
            <img src="backgammon/board_Main.jpg" width="300" height="300">
            <div class="game_name">backgamon</div>
        </div>
    </a>
</body>
</html>